* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --corPrincipal: #8ff0d5;
    --corSecundaria: #00b894;
    --corPreta: #000;
    --corBranca: #fff;
}